html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 0;
    background: url('/images/homebackground.jpeg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 0;
}

main, header, footer {
    position: relative;
    z-index: 1;
}


.navbar .nav-link,
.navbar .navbar-brand {
    color: var(--bs-primary) !important;
    text-decoration: none;
    font-weight: 400;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: var(--bs-primary) !important;
}

footer {
    background-color: rgba(255, 255, 255, 0.8);
}

.dropdown-menu .dropdown-item {
    color: var(--bs-primary) !important;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    color: #084298 !important;
    background-color: rgba(0, 0, 0, 0.03);
}

.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus,
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    text-decoration: none !important;
    font-weight: 600;
    color: #282281 !important;
}


.navbar .dropdown-toggle::after {
    transition: transform 0.2s ease;
    display: inline-block;
}

.navbar .dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(180deg);
}

